<% content_for :header do %>
	<p class="main-header--title"><%= t('binda.edit_user') %></p>
  <a href="<%= manage_users_path %>" class="main-header--back"><span class="glyphicon glyphicon-list"></span> Back to list</a>
<% end %>

<% content_for :content do %>
	<%= render 'form_body', manage_user: @user %>
<% end %>
