<div id="standard-form--repeater-<%= repeater_setting.id %>" 
	class="form-item--label-on-left form-item--repeater-section standard-form--repeater form-item">
	<div class="form-group">
		<%= render 'binda/fieldable/form_item_repeater/form_item_repeater_header', 
			repeater_setting: repeater_setting %>
		<%= render 'binda/fieldable/form_item_repeater/form_item_repeater_list', 
			repeater_setting: repeater_setting, 
			repeaters: repeaters, 
			f: f %>
		<div class="clearfix"></div>
	</div>
</div>