<% content_for :header do %>
  <h3>Editing Setting</h3>
  <a href="<%= settings_path %>" class="main-header--back"><span class="glyphicon glyphicon-list"></span> Back to list</a>
<% end %>

<% content_for :content do %>
	<%= render 'form', setting: @setting %>
<% end %>