<% content_for :header do %>
	<h3>New Field Group</h3>
  <a href="<%= field_groups_path %>" class="main-header--back"><span class="glyphicon glyphicon-list"></span> Back to list</a>
<% end %>
		
<% content_for :content do %> 
	<%= render 'form', field_group: @field_group %>
<% end %>