.bundle/
log/*.log
pkg/

node_modules
npm-debug.log
.DS_Store

spec/dummy/db/migrate/
spec/dummy/db/schema.rb
spec/dummy/config/initializers/devise.rb
spec/dummy/public/uploads/
spec/dummy/log/*.log
spec/dummy/tmp/
spec/**/uploads/**/*

.yardoc
doc
.gem
coverage
cc-test-reporter
.idea
/spec/dummy/
