<% if f.object.errors.any? %>
  <div class="standard-form--error-explanation b-alert b-alert--error">
    <%= t('binda.standard_form_error_heading') %> <%= pluralize(f.object.errors.count, t("binda.standard_form_error")) %>:
    <ul>
      <% f.object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% f.object.errors.details.keys.each do |key|
          f.object.errors.details[key].each do |obj|
            obj[:value].each do |obj2| %>
              <% obj2.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end 
            end
          end
        end 
      %>
    </ul>
  </div>
<% end %>