<% unless controller_name == 'sessions' && action_name == 'new' %>
  <div id="main-header" class="container">
    <div class="row">
      <div class="col-sm-12">
        <%= yield :header %>
      </div>
    </div>
  </div>
<% end %>