<div class="popup-warning popup-warning--hidden">
    <div class="popup-warning--loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <p class="popup-warning--message"></p>
</div>