<div class="popup-warning popup-warning--hidden">
    <div class="popup-warning--success popup-warning--success--hidden">
      <i class="fas fa-check-circle"></i>
    </div>
    <div class="popup-warning--loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <p class="popup-warning--message"></p>
</div>
