<%# unless is_devise_controller %>
<div id="main-sidebar">
  <ul class="main-sidebar--nav">
    <li class = "main-sidebar--brand">
      <h3><%= link_to Setting.website_name, '/' %></h3>
    </li>
    <li>
      <a href="<%# admin_dashboard_path %>">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Dashboard
      </a>
    </li>
  </ul>
</div>
<%# end %>