<!DOCTYPE html>
<html>
<head>
  <title>Binda</title>
  <%= stylesheet_link_tag    "binda/application", media: "all" %>
  <%= javascript_include_tag "binda/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
