<% content_for :background do %>
  <div id="background-shader">
    <%= render 'binda/users/sessions/background' %>
  </div>
<% end %>

<div class="login">

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="website-logo"></div>

      <div class="form-inputs standard-form--container" id="login-form">
        <h5 class="form-label">Email</h5>
        <input class="form-control string email optional required login" type="email" value="" name="user[email]" id="user_email">

        <h5 class="form-label">Password</h5>
        <input class="form-control password optional string required login" type="password" name="user[password]" id="user_password">
      </div>

      <div class="update-form--button form-actions" id="login-button">
        <input type="submit" value="Login" name="login" id="mc-embedded-subscribe" class="b-btn b-btn-default b-btn-alternative">
      </div>

      <div class="form-inputs" id="remember-me">
        <input type="radio" name="login" id="mce-GENDER-0" data-waschecked="true"><label for="mce-GENDER-0"><span></span>Remember me</label>
      </div>

  <% end %>

  <%= render "binda/users/shared/links" %>

</div>


