body
{
  padding: 0;
  background-color: $body-bg;
}

// this could be avoided using more recent version of bootstrap or with bourbon
.clearfix
{
  &::after
  {
    display: table;
    clear: both;
    content: '';
  }
}

// useful to debug
.bordered
{
  border: 2px solid red;
}

.vertical-center
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.absolute-center
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-shadowed
{
  box-shadow: 0 3px 6px 0 rgba( 200, 200, 200, .7 );
}

.box-shadowed-up
{
  box-shadow: 0 3px 10px 2px rgba( 150, 150, 150, .7 );
}

.pagination
{
  width: 100%;
}