// TINYMCE FIXES
// -------------
body#tinymce {
  padding: 12px;
  background-color: $color-white;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
}

.mce-tinymce,
.mce-toolbar-grp {
  margin-bottom: $font-size-base * 0.5 !important;
  border: none !important;
  background-color: $color-white !important;
}

.mce-toolbar {
  border: none !important;
}

.mce-btn-group .mce-btn,
.mce-flow-layout-item {
  margin-right: 2px !important;
  margin-left: 0 !important;
}

.mce-btn-group:not(:first-child) {
  border: none !important;
}

.mce-btn {
  border-radius: 2px !important;
}

.mce-edit-area {
  border: 1px solid $color-gray-lightest !important;
  border-radius: 1px !important;
}

.mce-path {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.mce-statusbar {
  border: none !important;
  border-top: none !important;
  background-color: $color-white !important;
}

.mce-menubar {
  margin-top: $font-size-base !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;

  .mce-btn {
    margin-right: 4px !important;
    background-color: rgba(0, 0, 0, 0.075) !important;
  }

  &:first-child {
    margin-top: 0 !important;
  }
}

.mce-container-body,
.mce-container,
.mce-container::before {
  box-shadow: none !important;
}

.mce-btn {
  background-color: $color-gray-lightest !important;
}

.mce-btn:hover,
.mce-btn:active {
  border-color: $color-gray-lighter !important;
}

div.mce-edit-area {
  border-color: $color-gray-lightest !important;
}
