<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>

		<% unless ENV["RAILS_ENV"] == 'test' %>
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
