<!DOCTYPE html>
<html>
  <head>
    <title>Currently under maintenance</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'maintenance', media: 'all' %>
    <%= javascript_include_tag 'maintenance' %>
  </head>

  <body>
    <div class="container">
    	<p>CURRENTLY UNDER MAINTENANCE</p>
    </div>
  </body>
</html>
