#assets-manager-index
{
  display: none;
}

.assets-manager--list
{
  width: 100%;
  list-style: none;
}

.assets-manager--item
{
  position: relative;
  display: inline-block;
  margin-bottom: $font-size-base * 2;
  padding: $font-size-base / 2;
  transition: all .3s ease-in-out;

  @extend .box-shadowed;

  &:hover
  {
    @extend .box-shadowed-up;
  }
}

.assets-manager--image-buttons
{
  position: absolute;
  top: 8px;
  right: 8px;

  a
  {
    display: block;
    margin: 3px;
    padding: 3px;
    transition: opacity .3s ease-in;
    opacity: .7;
    background-color: #fff;
  }
  a:hover
  {
    opacity: 1;
  }
}

.assets-manager--selected
{
  background-color: #aaa;
  img
  {
    opacity: .7;
  }
}
