.asset-form {
	margin-bottom: $font-size-base;
	border-bottom: 1px solid $gray-lighter;
	@extend .clearfix;

	small {
		float: left;
		width: 75%;
	}

	img {
		max-width: 20%;
		height: auto;
		margin-bottom: $font-size-base;
		margin-right: $font-size-base;
		float: left;
	}
	.page_assets_image {
		float: left;
		display: inline-block;

	}
}

.asset-form--uploader {
	display:inline-block;
	margin: 0;
	float: left;
	clear: both;
}