.b-alert
{
	width: 100%;
	margin: 20px auto; 
  color: $color-white;
  padding: 6px 12px;
 
  p
  {
    color: $color-white; // override default p color
    margin-bottom: 0; 
  }
}

.b-alert--success
{
  background-image: linear-gradient(to right, $color-success, lighten($color-success, 6%));
}

.b-alert--danger,
.b-alert--error
{
  background-image: linear-gradient(to right, $color-danger, lighten($color-danger, 6%));
}
