.b-btn-primary
{
  transition: background-color .3s ease-out;
  color: $color-white;
  border: 1px solid $color-gray-darker;
  background-color: #333;
}

.b-btn-primary
{
  &:hover,
  &:focus
  {
    color: $color-white;
    border: 1px solid $color-gray;
    background-color: $color-gray;
  }
}

.b-btn-danger
{
  transition: background-color .3s ease-out;
  color: $color-white;
  background-color: $color-danger;
}

.b-btn-danger
{
  &:hover,
  &:focus
  {
    color: $color-white;
    background-color: darken($color-danger, 15%);
  }
}

.b-btn-outline-danger
{
  transition: color background-color .3s ease-out;
  color: $color-danger;
  border: 1px solid $color-danger;
  background-color: transparent;
}

.b-btn-outline-danger
{
  &:hover,
  &:focus
  {
    color: $color-white;
    background-color: $color-danger;
  }
}

.b-btn-alternative
{
  transition: background-color .3s ease-out;
  color: $text-color;
  background-color: $color-white;
}

.b-btn-alternative
{
  &:hover,
  &:focus
  {
    color: $text-color;
    background-color: $color-gray-light;
  }
}

.b-btn
{
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 0;

  i
  {
    padding-right: 6px;
  }
}
