.fileupload
{
	position: relative;

	.form-group 
	{
		margin: 0 !important;
	}
  .progress
  {
  	margin: 12px 0;
  	height: 8px;
  }
  .fileupload--details
  {
  	position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 1;
		background-color: #fff;
		padding: 24px;
		width: 40%;
		transition: opacity .2s linear;
    pointer-events: none;
		@extend .box-shadowed-up;
		&.fileupload--details--hidden
		{
			opacity: 0;
		}
  }
	.fileupload--filename
	{
		text-align: center;
	}
  .fileinput-button
  {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 12px;
    float: left;
    margin-right: 8px;
  }
  .fileinput-button input
  {
    font-size: 200px !important;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    cursor: pointer;
    opacity: 0;

    -ms-filter: 'alpha(opacity=0)';
    direction: ltr;
  }

  /* Fixes for IE < 8 */
  @media screen\9
  {
    .fileinput-button input
    {
      font-size: 100%;
      height: 100%;

      filter: alpha(opacity=0);
    }
  }
}
