// see https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
.fileupload input
{
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 1px; // .1px didn't work so set minimum to 1px
  height: 1px; // .1px didn't work so set minimum to 1px
  opacity: 0;
}

.fileupload label
{
  font-weight: 300;
  padding: 8px 12px;
  cursor: pointer; /* "hand" cursor */

  @extend .btn-primary;

  i
  {
    padding-right: 6px;
  }

  *
  {
    pointer-events: none;
  }

  // &.control-label--focus {
  // 	outline: 1px dotted #000;
  // 	outline: -webkit-focus-ring-color auto 5px;		
  // }
}

.fileupload--preview
{
  position: relative;
  float: left;
  width: 120px;
  height: 120px;
  margin-right: 16px;
  transition: all .5s ease;
  border: 1px solid $color-gray-lighter;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;

  p
  {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 8px;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.fileupload--preview--uploaded
{
  animation: fadePreview .6s ease-out;
  border: 1px solid transparent;

  p
  {
    display: none;
  }
}

@keyframes fadePreview
{
  from
  {
    opacity: .01;
  }
  to
  {
    opacity: 1;
  }
}

// Override the real .from-group containing the input
.fileupload .form-group
{
  padding: 0;
  border: 0;
}

.fileupload--remove-image-btn {
	opacity: 1;
	transition: opacity .3s ease;
}

.fileupload--remove-image-btn--hidden {
	opacity: 0;
	pointer-events: none;
}