.fileupload
{
  position: relative;

  .form-group
  {
    margin: 0 !important;
  }
  .fileinput-button
  {
    position: relative;
    display: inline-block;
    float: left;
    overflow: hidden;
    margin-right: 8px;
    margin-bottom: 12px;
  }
  .fileinput-button input
  {
    font-size: 200px !important;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    cursor: pointer;
    opacity: 0;

    -ms-filter: 'alpha(opacity=0)';
    direction: ltr;

    /* Fixes for IE < 8 */
    @media screen\9
    {
      font-size: 100%;
      height: 100%;

      filter: alpha(opacity=0);
    }
  }
}
.form-item--repeater-fields
{
  .fileinput-button
  {
    margin-left: 5%;
  }
  .form-item--asset--image
  {
    margin-left: 20%;
  }
}
.fileupload--details
{
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  width: 40%;
  padding: 24px;
  transition: opacity .2s linear;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 1;
  background-color: #fff;

  @extend .box-shadowed-up;
  &.fileupload--details--hidden
  {
    opacity: 0;
  }

  .progress
  {
    height: 8px;
    margin: 12px 0;
    .progress-bar
    {
      width: 100%;
    }
  }
}
.fileupload--filename
{
  text-align: center;
}
