.form-item--full-size {

  input[type="checkbox"] {

    margin-left: 0px;
  }
}

.field_group_field_settings_allow_null {

  border-top: none !important;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}