.form-inputs {
	small {
		display: inline-block;
		margin-bottom: $font-size-base;
	}
	h4 {
		padding-bottom: $font-size-base;
		margin-bottom: $font-size-base;
		border-bottom: 1px solid $gray-lighter;
		font-weight: bold;
	}	
}

.form-inputs--row-transparent {
	margin: 0;

	> div {
		padding-right: $font-size-base;
		padding-bottom: $font-size-base;
		padding-left: $font-size-base;
		margin-bottom: $font-size-base * 2;
		@extend .box-shadowed;
	}
}

.form-inputs--row {
	@extend .form-inputs--row-transparent;

	> div {		
		background-color: #FFF;
	}
}