.form-item
{
  display: block;
  margin-bottom: $font-size-base*1.5;
  transition: all .3s linear;
  transform: scaleY(1);
  border-bottom: 1px solid $color-gray-lightest;

  @extend .clearfix;
  .form-group
  {
    margin-bottom: $font-size-base;
  }
}

.form-section--wide-container
{
  .form-item
  {
    overflow-y: hidden;
    transition: max-height .6s ease-out;
    h5
    {
      float: left;
      width: 15%;
    }
    a
    {
      float: right;
      margin-top: $font-size-base/2;
      margin-left: $font-size-base/2;
    }
  }

  .form-item--half-size
  {
    position: relative;
    float: left;
    width: 46%;
    margin-right: 4%

    h5
    {
      width: 100%;
    }

    .form-item--select-input
    {
      margin-left: 0;
    }
  }

  .form-item--full-size
  {
    position: relative;
    clear: both;
    width: 96%;
  }

  .form-item--new
  {
    position: absolute;
    top: 101%;
    max-height: 0;
  }

  .form-group
  {
    margin-bottom: $font-size-base;
  }
}

.form-item--select-input
{
  display: inline-block;
  width: 240px;
  margin-left: 5%;
}

.form-item--textarea
{
  display: inline-block;
  width: 70%;
  margin-left: 5%;
}

.form-item--category
{
  margin-bottom: $font-size-base*1.5;
  padding-bottom: $font-size-base*1.5;

  input[type=submit]
  {
    float: left;
    width: 20%;
  }

  .form-group
  {
    float: left;
    width: 70%;
    margin: 0;
    margin-right: 10%;
  }
}

.form-item--toggle-button
{
  cursor: pointer;
  transition: transform .3s ease;
  transform: rotate(0deg);
}

.form-item--toggle-button-closed
{
  transform: rotate(180deg);
}

.form-item--editor
{
  overflow-y: hidden;
  // max-height: is set via javascript in app/assets/javscripts/components/form_item_editor.js;
  // default is 0
  max-height: 0;
  transition: max-height .6s ease-out;
}

.form-item--label-on-left .form-group
{
  display: inline-block;
  width: 70%;
  margin-left: 5%;
}

.form-item--repeater {
  overflow-y: hidden;
  // inherit transitions from sortable and add max-height
  transition: box-shadow .3s ease, transform .3s ease, max-height .6s ease-out !important; 
}

.form-item--repeater-fields
{
  margin-bottom: $font-size-base;
  padding-top: 8px;
  padding-left: $font-size-base/2;
  transition: all .6s ease;
  border-bottom: 1px solid $color-gray-lightest;
  border-left: 2px solid $color-gray-lightest;
}

.form-item--repeater-section
{
  margin-bottom: 0;

  ul.sortable li > *
  {
    display: block;
  }

  ul.sortable
  {
    margin-bottom: 20px;
    border-top: 1px solid $color-gray-lighter;

    .form-item--repeater-fields
    {
      overflow-y: hidden;
    }
  }

  .sortable--toggle-text:first-child
  {
    display: none;
  }

  h5
  {
    float: left;
    width: 15%;
  }

  .form-item--new
  {
    position: absolute;
    top: 101%;
    max-height: 0;
  }

  .form-group
  {
    margin-bottom: $font-size-base;
  }

  .sortable--toggle
  {
    float: right;
    margin: 0;
  }

  .sortable--enabled
  {
    .ui-sortable-handle:hover {
      border: 1px solid $color-gray-lighter;
    }

    .form-item--repeater-fields
    {
      margin: 0;
      padding: 0;
    }
  }
}

.form-item--repeater-section--add-new {
  float: right;
  margin-right: 8px;
}

.form-item--repeater-title
{
  display: block;
  margin-bottom: 20px;
}

.form-item--repeater-header
{
  padding: 4px 0;
  background-color: $color-gray-lightest !important;

  p
  {
    margin-top: 8px;
    margin-left: 8px;
  }
}

.form-item--delete-repeater-item
{
  float: right;
  margin-top: $font-size-base/2;
  margin-right: $font-size-base/2;
}

.form-item--choices
{
  position: relative;
}

.form-item--editor .form-item--choice
{
  position: relative;
  clear: left;

  &:last-child
  {
    margin-bottom: $font-size-base;
    padding-bottom: $font-size-base/2;
    border-bottom: 1px solid $color-gray-lightest;
  }
}

.form-item--new-choice
{
  display: none;
}

.form-item--choice-label,
.form-item--choice-value
{
  @extend .form-item--half-size;
}

.form-item--delete-choice,
.form-item--js-delete-choice
{
  position: absolute;
  top: 32px;
  right: 0;
}

.form-item--add-choice
{
  position: absolute;
  top: 0;
  right: 0;
}

.form-item--new-choice .form-item--delete-choice
{
  display: none;
}