.form-item--asset--clearfix {
	margin-bottom: $font-size-base;
	border-bottom: 1px solid $gray-lighter;
	@extend .clearfix;
}

.form-item--asset--image {
	max-width: 20%;
	height: auto;
	margin-left: 20%;
	margin-bottom: $font-size-base;
}

.form-item--asset--uploader {
	display: inline-block;
	margin: 0;
	margin-top: 9px;
	float: left;
	clear: both;
}
