.form-item { 
	@extend .clearfix;
	display: block;
	margin-bottom: $font-size-base*1.5;	
	border-bottom: 1px solid $gray-lighter;
	transition: all 0.3s linear;
	transform: scaleY(1);

	> * {
		display: block;
	}
	.form-group {
		margin-bottom: $font-size-base*1.5;	
	}
}


.form-section--wide-container {

	.form-item {
		max-height: 2000px;
		overflow-y: hidden;
		transition: max-height 1s ease-out;

		h5 {
			width: 15%;
			float: left;
		}
		
		input {
			display: inline-block;
			width: 70%;
			margin-left: 5%;
		}

		a {
			float: right;
			margin-top: $font-size-base/2;
			margin-left: $font-size-base;
		}
	}

	.form-item--new {
		position: absolute;
		top: 101%;
		max-height: 0;
	}

	.form-group {
		margin-bottom: $font-size-base*1.5;	
	}
}

.form-item--select {
	display: inline-block;
	width: 240px;
	margin-left: 5%;
}

.form-item--textarea {
	display: inline-block;
	width: 70%;
	margin-left: 5%;
}

.form-item--category {
	padding-bottom: $font-size-base*1.5;	
	margin-bottom: $font-size-base*1.5;	

	input[type=submit] {
		width: 20%;
		float: left;
	}

	.form-group {
		width: 70%;
		margin: 0;
		margin-right: 10%;
		float: left;
	}
}

.form-item--open-button,
.form-item--close-button {
	cursor: pointer;
}

.form-item--open-button {
	display: none;
}

.form-item--editor {
	max-height: 1000px;
	overflow-y: hidden;
	transition: max-height 0.6s ease-out;
}

.form-item--editor-close {
	max-height: 0;
}