.form-item--image--clearfix {
	margin-bottom: $font-size-base;
	border-bottom: 1px solid $color-gray-lightest;
	@extend .clearfix;
}

.form-item--image--image {
	max-width: 20%;
	height: auto;
	margin-bottom: $font-size-base;
	float: left;
	clear: both;
}

.form-item--image--uploader {
	display: inline-block;
	margin: 0;
	margin-top: 9px;
	float: left;
	clear: both;
}
