.form-item--asset--clearfix {
	margin-bottom: $font-size-base;
	border-bottom: 1px solid $gray-lighter;
	@extend .clearfix;
}

.form-item--asset--image {
	max-width: 20%;
	height: auto;
	margin-left: 20%;
	margin-bottom: $font-size-base;
}

.form-item--asset--uploader {
	display: inline-block;
	margin: 0;
	margin-top: 9px;
	float: left;
	clear: both;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}