.main-sortable-table--row.ui-sortable-handle:hover
{
  border: 1px solid transparent;
}

.main-sortable-table--header-title
{
  display: table-cell;
  width: 50vw;
  margin-bottom: 0px;
  padding: 6px 12px;

  p {
    color: white;
    margin: 0 !important;
  }
}

.main-sortable-table--header-row {
  display: block;
  background-image: linear-gradient(to right, #333333, #424242);
  border-left: 1px solid $color-gray-darker;
  border-right: 1px solid $color-gray-darker;
}

.main-sortable-table--row
{
  display: block;
  border-bottom: 1px solid $color-gray-lighter;
  border-left: 1px solid $color-gray-darker;
  border-right: 1px solid $color-gray-darker;

  &:last-child
  {
    border-bottom: 1px solid $color-gray-darker;
  }
}

.main-sortable-table--row-cell
{
  display: table-cell;
  width: 50vw;
  padding: 12px;
  background-color: $gray-lighter;
}

