#main-header
{
  width: 100%;
  padding: 32px 24px;
}
.main-header--title
{
  display: inline-block;
}

.main-header--buttons
{
  float: right;
  margin-top: 24px;
  margin-right: 24px;
}

a.main-header--back
{
  font-weight: normal;
  color: $gray-light;

  &:hover
  {
    color: $gray;
  }
}
