.main-table--container {

  table {
    width: 100%;
    border-bottom: 1px solid $color-gray-darker;

    td {
      border-top: none !important;
      padding: 12px;
    }

    td:last-child {
      text-align: right;

      span {
        margin-left: $font-size-base;

        &:not(:first-child) {
          border-left: 1px solid #CCC;
          padding-left: $font-size-base;
        }
      }
    }

    .no-hover {
      background: none;
    }

    tr {
      border-bottom: 1px solid $color-gray-lighter;
      border-left: 1px solid $color-gray-darker;
      border-right: 1px solid $color-gray-darker;
    }

    tr:last-child {
      border-bottom: 1px solid $color-gray-darker;
    }
  }

  .prev {
    margin-left: 1%;
  }

  .next {
    margin-right: 1%;
    float: right;
  }

  .last {
    float: right;
  }
}

.main-table--hover:hover {
  background: $color-white;
}

.main-table--actions {
  a {
    margin-left: 8px;
  }
}