.main-table--div {

  table {

    width: 100%;
    border-bottom: 1px solid #666666;

    td {

      padding: 6px;

      border-bottom: 1px solid $color-gray-lighter;
    }

    td:last-child {
      text-align: right;

      span {
        margin-left: $font-size-base;

        &:not(:first-child) {
          border-left: 1px solid #CCC;
          padding-left: $font-size-base;
        }
      }
    }

  }
}