.main-sortable-table {
  margin-bottom: 48px;
  border-bottom: 1px solid $color-gray-lighter;
}

.main-sortable-table--header-row {
  display: flex;
  border-right: 1px solid $color-gray-darker;
  border-left: 1px solid $color-gray-darker;
  background-image: linear-gradient(to right, #333, #424242);
}

.main-sortable-table--header-title {
  margin-bottom: 0;
  padding: 6px 12px;

  flex: 1;

  p {
    margin: 0 !important;
    color: white;
  }
}

.main-sortable-table--row {
  display: flex;
  transition: box-shadow 0.3s ease, background 0.3s ease, transform 0.3s ease;
  border-right: 1px solid $color-gray-darker;
  border-bottom: 1px solid $color-gray-lighter;
  border-left: 1px solid $color-gray-darker;
  background: transparent;
  box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0);

  &:last-child {
    border-bottom: 1px solid $color-gray-darker;
  }

  &:hover {
    background: $color-white;
  }
}

.main-sortable-table--row.ui-sortable-handle:hover {
  cursor: move;
  transform: scale(1.01);
  border: 1px solid transparent;
  box-shadow: 0 10px 26px 0 rgba(0, 0, 0, 0.25);
}

.main-sortable-table--row-cell {
  display: table-cell;
  padding: 12px;

  flex: 1;

  p {
    margin: 0 !important;
  }
}
