.main-table--container
{
  table
  {
    width: 100%;
    background-color: $color-gray-lightest;

    th
    {
      padding: 6px 12px;
    }

    td
    {
      padding: 12px;
      border-top: none !important;
    }

    td:last-child
    {
      text-align: right;

      span
      {
        margin-left: $font-size-base;

        &:not(:first-child)
        {
          padding-left: $font-size-base;
          border-left: 1px solid #ccc;
        }
      }
    }

    .no-hover
    {
      background: none;
    }

    tr
    {
      border-right: 1px solid $color-gray-darker;
      border-bottom: 1px solid $color-gray-lighter;
      border-left: 1px solid $color-gray-darker;
    }

    tr:last-child
    {
      border-bottom: 1px solid $color-gray-darker;
    }

    tr.ui-sortable-handle:hover
    {
      border: 1px solid transparent;
    }
  }

  .prev
  {
    margin-left: 1%;
  }

  .next
  {
    float: right;
    margin-right: 1%;
  }

  .last
  {
    float: right;
  }
}

.main-table--hover
{
  transition: background .3s ease;
  background: $color-gray-lightest;

  &:hover
  {
    background: $color-white;
  }
}

.main-table--actions
{
  a
  {
    margin-left: 8px;
  }
}
