#main-header
{
  width: 100%;
  padding: 32px 24px;
}
.main-header--title
{
  @extend .b-h3;
  display: inline-block;
}

.main-header--buttons
{
  float: right;
}

a.main-header--back
{
  font-weight: 300;
  color: $color-gray-light;

  &:hover
  {
    color: $color-gray;
  }
}
