.parent-group-form--child { 
	@extend .clearfix;
	display: block;
	margin-bottom: $font-size-base*1.5;	
	border-bottom: 1px solid $gray-lighter;
	transition: all 0.3s linear;
	transform: scaleY(1);

	> * {
		display: block;
	}
	.form-group {
		margin-bottom: $font-size-base*1.5;	
	}
}

.form-inputs--wide {
	.parent-group-form--child { 

		h5 {
			width: 15%;
			float: left;
		}
		
		input {
			display: inline-block;
			width: 70%;
			margin-left: 5%;
		}

		a {
			float: right;
			margin-top: $font-size-base/2;
			margin-left: $font-size-base;
		}
	}

	.form-group {
		margin-bottom: $font-size-base*1.5;	
	}
}

.parent-group-form--new-child {
	transition: all 0.3s linear;
	transform: scaleY(0);
	transform-origin: top;
	* {
		display: none;
	}
}

.parent-group-form--select {
	display: inline-block;
	width: 240px;
	margin-left: 5%;
}

.parent-group-form--child-textarea {
	display: inline-block;
	width: 70%;
	margin-left: 5%;
}

.parent-group-form--child-category {
	padding-bottom: $font-size-base*1.5;	
	margin-bottom: $font-size-base*1.5;	

	input[type=submit] {
		width: 20%;
		float: left;
	}

	.form-group {
		width: 70%;
		margin: 0;
		margin-right: 10%;
		float: left;
	}
}