ul.sortable,
ul#sortable {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 64px;

  li {
    position: relative;
    margin-top: 0px; 
    margin-bottom: 0px;
    padding: 8px;
    margin-bottom: 8px;
    background-color: #FFF;
    border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.25);
    z-index: 0;
    cursor: move;
    transition: box-shadow  0.3s ease-in-out;

    &:hover {
      box-shadow: 0px 10px 26px 0px rgba(0,0,0,0.25);
      // margin-top: -10px; 
      // margin-bottom: 10px;
      // top: -10px;
      z-index: 10;
    }

    &:first-child {
      border-top: 1px solid rgba( 0, 0, 0, 0.1 );
    }

    img {
      max-height: 64px;
      width: auto;
      margin-right: 32px;
    }
  }
}

ul#sortable > li > * ,
ul.sortable > li > * {
  display: inline-block;
}

.sortable-handle {
  width: 12px;
  height: 12px;
  margin-left: 8px;
  margin-right: 16px;
  border-radius: 6px;
  background-color: #CCC;
}

.ui-state-highlight {
  height: 64px;
  background-color: #E2E2E2;
}

tbody#sortable,
tbody.sortable {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 64px;

  tr {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );

    &:first-child {
      padding-top: 8px;
      border-top: 1px solid rgba( 0, 0, 0, 0.1 );
    }

    img {
      max-height: 64px;
      width: auto;
      margin-right: 32px;
    }
  }

  &.sortable--no-handle { 
    tr {
      cursor: move;
    }
  }
}

.sortable-placeholder {
  height: 48px;
}

.sortable--handle {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 8px;
  margin-right: 16px;
  border-radius: 6px;
  background-color: #CCC;
  cursor: move;
}