ul.sortable,
ul#sortable
{
  position: relative;
  margin-bottom: 64px;
  padding-left: 0;
  list-style-type: none;
  
  > li
  {
    position: relative;
    z-index: 0;
    margin-top: 0;
    margin-bottom: 0;
    cursor: move;
    transition: box-shadow .3s ease, transform .3s ease;
    box-shadow: 0 0 0 0 rgba(0,0,0,.25);

    img
    {
      width: auto;
      max-height: 64px;
      margin-right: 32px;
    }
  }
}

.sortable-placeholder
{
  height: 48px;
}

.ui-state-highlight
{
  height: 48px;
  z-index: 0;
  background-color: $color-gray-dark;
}

ul#sortable > li > *,
ul.sortable > li > *
{
  display: inline-block;
}

.sortable-handle
{
  // display: block;
  width: 12px;
  height: 12px;
  margin-right: 16px;
  margin-left: 8px;
  border-radius: 6px;
}

.ui-sortable-handle
{
  &:hover
  {
    z-index: 10 !important;
    transform: scale(1.01);
    background-color: $color-gray-lightest;
    box-shadow: 0 10px 26px 0 rgba(0,0,0,.25);
  }
}

tbody#sortable,
tbody.sortable
{
  position: relative;
  margin-bottom: 64px;
  padding-left: 0;
  list-style-type: none;
  tr
  {
    transition: box-shadow .3s ease, transform .3s ease;
    margin-bottom: 8px;
    padding-bottom: 8px;

    img
    {
      width: auto;
      max-height: 64px;
      margin-right: 32px;
    }
  }
  &.sortable--no-handle
  {
    tr
    {
      cursor: move;
    }
  }
}

.sortable--handle
{
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 16px;
  margin-left: 8px;
  cursor: move;
  border-radius: 6px;
  background-color: #ccc;
}

.sortable--disabled
{
  .sortable--handle,
  .ui-sortable-handle
  {
    cursor: default;
  }
}

ul.sortable--disabled
{
   > li:hover
  {
    cursor: default;
    transform: scale(1);
    box-shadow: none;
  }
}