ul.sortable,
ul#sortable
{
  margin-bottom: 64px;
  padding-left: 0;
  list-style-type: none;
   > li
  {
    position: relative;
    z-index: 0;
    margin-top: 0;
    margin-bottom: 0;
    cursor: move;
    transition: box-shadow  .3s ease-in-out;
    border: 1px solid $color-gray-lighter;
    border-top: none;
    box-shadow: 0 0 0 0 rgba(0,0,0,.25);
    &:hover
    {
      z-index: 10;
      box-shadow: 0 10px 26px 0 rgba(0,0,0,.25);
    }
    &:first-child
    {
      border: 1px solid $color-gray-lighter;
    }
    img
    {
      width: auto;
      max-height: 64px;
      margin-right: 32px;
    }
  }
}

.sortable-placeholder
{
  height: 48px;
}

.ui-state-highlight
{
  height: 48px;
  background-color: #e2e2e2;
}

ul#sortable > li > *,
ul.sortable > li > *
{
  display: inline-block;
}

.sortable-handle
{
  width: 12px;
  height: 12px;
  margin-right: 16px;
  margin-left: 8px;
  border-radius: 6px;
  background-color: #ccc;
}

tbody#sortable,
tbody.sortable
{
  margin-bottom: 64px;
  padding-left: 0;
  list-style-type: none;
  tr
  {
    margin-bottom: 8px;
    padding-bottom: 8px;

    &:first-child
    {
      // padding-top: 8px;
      // border-top: 1px solid rgba( 0, 0, 0, .1 );
    }
    img
    {
      width: auto;
      max-height: 64px;
      margin-right: 32px;
    }
  }
  &.sortable--no-handle
  {
    tr
    {
      cursor: move;
    }
  }
}

.sortable--handle
{
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 16px;
  margin-left: 8px;
  cursor: move;
  border-radius: 6px;
  background-color: #ccc;
}

.sortable--disabled
{
  .sortable--handle,
  .ui-sortable-handle
  {
    cursor: default;
  }
}

ul.sortable--disabled
{
   > li:hover
  {
    box-shadow: none;
  }
}

.sortable-warning
{
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  width: 40%;
  padding: 24px;
  transition: opacity .2s .2s linear;
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
  opacity: 1;
  background-color: #fff;

  @extend .box-shadowed-up;

  &.sortable-warning--hidden
  {
    opacity: 0;
  }
  p
  {
    margin: 0;
  }
}

@keyframes sortableWarning
{
  0%
  {
    transform: scale(1);
  }
  25%
  {
    transform: scale(1.5);
  }
}

.sortable-warning--loader
{
  margin-bottom: 16px;
  span
  {
    display: inline-block;
    width: 1px;
    height: 24px;
    margin: 0 3px;
    transform-origin: center center;
    animation: sortableWarning 1s ease-in-out infinite;
    border-radius: 10px;
    background-color: $color-gray-light;
  }
  span:nth-child(2)
  {
    animation-delay: 180ms;
  }
  span:nth-child(3)
  {
    animation-delay: 360ms;
  }
  span:nth-child(4)
  {
    animation-delay: 540ms;
  }
}
