
// STANDARD FORM -- GENERAL STYLES

.standard-form
{
  width: 100%;
}

.standard-form--body
{
  display: inline-block;
  width: 73%;
  vertical-align: top;
}


// STANDARD FORM -- SIDEBAR

.standard-form--sidebar
{
  display: inline-block;
  float: right;
  width: 300px;
  margin-left: 24px;
}


// STANDARD FORM -- SECTION

.standard-form--container
{
  overflow-y: hidden;
  margin-bottom: 20px;
  border: 1px solid $color-gray-darker;

  &.table-sort
  {
    border: none !important;
  }


  .control-label
  {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 8px;

    @extend .b-h4;
  }

  .control-label-required
  {
    @extend .text-muted;
  }

  .form-group
  {
    margin-bottom: 0;
    padding: 20px 12px;
    border-top: 1px solid $color-gray-darker;
  }

  .form-control
  {
    transition: border .3s ease-in-out;
    border: none;
    border: 1px solid transparent;
    box-shadow: none;

    &:hover,
    &:focus
    {
      border: 1px solid $color-gray;
      outline: none;
      background-image: none;
      box-shadow: none;
    }

    &.disabled
    {
      color: $color-gray-lighter;
      background-color: $color-white;

      &:hover
      {
        border: 1px solid transparent;
      }
    }
  }
  .help-block
  {
    color: $color-gray;
  }
}


// STANDARD FORM -- HEADER

.standard-form--header
{
  padding: 12px 12px;
  color: $color-white;
  background-color: $color-gray-darker;

  p
  {
    // font-weight: bold;
    margin-bottom: 0;
    color: $color-white;
  }

  a
  {
    margin-bottom: 0;
    color: white;
  }

  &.field-settings-header {
    background-color: $color-gray-light !important;
  }

  &.main-actions-header {
    background-color: $color-gray-light !important;
    padding: 6px 12px;

    a {
      margin-left: 8px;
    }
  }
}

.standard-form--boolean,
.standard-form--radio,
.standard-form--checkbox
{
  .standard-form--input-box
  {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 5px;
    transition: background-color .2s ease-in-out;
    border: 1px solid $text-color;
  }

  input[type='radio'],
  input[type='checkbox']
  {
    position: relative;
    display: inline-block;
    width: 1px;
    height: 1px;
    transition: background-color .3s ease-in-out;
    opacity: 0;
    &:hover + span
    {
      background-color: $color-gray-lighter;
    }
    &:checked + span
    {
      background-color: $color-gray-dark;
    }
  }
}
.standard-form--boolean label span,
.standard-form--radio label span
{
  border-radius: 1em;
}

.standard-form--main-actions
{
  display: inline-block;
  width: 100%;
  padding: 20px 12px;
  border-top: 1px solid $text-color;

  &#not-bottom {

    padding: 0px 12px;
    border-top: none;
  }
}

.standard-form--suggestion
{
  width: 100%;
  padding: 20px 12px;
  border-top: 1px solid $text-color;
}
