<div class="form-item--half-size">
	<%= fff.input :name, 
		label: false,
		as: :string, 
		input_html: { class: "form-item--default-input" } %>
</div>
<div class="form-item--half-size">
	<%= fff.input :slug, 
		label: false,
		as: :string, 
		input_html: { class: "form-item--input" } %>
</div>