<% content_for :header do %>
  <p class="main-header--title"><%= "#{ t :edit }".capitalize %> <%= @structure.name.humanize.split.map(&:capitalize).join(' ') %></p>
<% end %>

<% content_for :content do %>
	<%= render 'binda/fieldable/form_body' %>
<% end %>