<%# - - - - - - - - - - - - - - %>
<%# REPEATER FIELDS             %>
<%# - - - - - - - - - - - - - - %>
<div class="form-item">

<% end %>
</div>







<!-- 
<%# - - - - - - - - - - - - - - %>
<%# REPEATER NEW FIELDS         %>
<%# - - - - - - - - - - - - - - %>
<div id="new-child--repeater-<%= repeater.id %>" class="form-item form-item--new">
<%# repeater.children.order( :position ).each do |field_setting| %>

  <%# next unless field_setting.root_id == repeater.id %>
  <%# render "form_section", f: f, field_setting: field_setting, field_group: field_group %>

<%# end %>
</div>

<%# - - - - - - - - - - - - - - %>
<%# ADD NEW REPEATER FIELDS     %>
<%# - - - - - - - - - - - - - - %>
<a class="form-item-repeater--add-new main-header--link btn btn-default" href="#" data-new-child-id="new-child--repeater-<%= repeater.id %>">
  <%= t :new_item_in_repeater %>
</a> -->