<% content_for :header do %>
	<p class="main-header--title"><%= t('binda.new_component',{ arg1: @structure.name.humanize.split.map(&:capitalize).join(' ') }) %></p>
  <a href="<%= structure_components_path %>" class="main-header--back"><span class="glyphicon glyphicon-list"></span> <%= "#{ t :back_to_index }".capitalize %></a>
<% end %>
		
<% content_for :content do %> 
	<%= render 'binda/fieldable/form_body' %>
<% end %>