<div class="field-setting-choices--header field-settings-header">
	<a href="#" 
		class="field-setting-choices--toggle-choice field-setting-choices--add-choice" 
		data-choices-id="field-setting-choices-<%= ff.object.id %>">
		<i class="fa fa-plus" aria-hidden="true"></i> 
		<%= t(:add_choice).capitalize %>
	</a>
	<p class="control-label">
		<%= t(:choices).capitalize %>	
	</p>
</div>