<li id="form--list-item-<%= ff.object.id %>"
  class="form-item form-item--collapsable form-item--collapsed">
	<%= render 'binda/structures/form_field_group_item/form_field_group_item_header', f: f, ff: ff %>
	<%= render 'binda/structures/form_field_group_item/form_field_group_item_editor', f: f, ff: ff %>
</li>