<%= ff.input :slug, as: :hidden, input_html: { class: "form-item--input" } %>
<div class="form-item--half-size">
  <% if ff.object.field_type.nil? %>
    <%= ff.input :field_type, as: :select, collection: get_field_types, include_blank: false, prompt: t(:select_field_type), input_html: { class: 'form-item--select-input' } %>
  <% else %>
    <%= ff.input :field_type, as: :string, disabled: true, input_html: { class: "form-item--input" } %>
  <% end %>
</div>
