<% content_for :header do %>
	<p class="main-header--title"><%= t('binda.edit_category', { arg1: @category.name }) %></p>
  <a href="<%= structure_categories_path %>" class="main-header--back"><span class="glyphicon glyphicon-list"></span> <%= t(:back_to_index).capitalize %></a>
<% end %>
		
<% content_for :content do %> 
	<%= render 'form', category: @category, structure: @structure %>
<% end %>